/* na pas vocation a resté */ 
.avertisement {
    text-align: center;
    font-family: "Calibri";
}


/* DOM elements */
a {
    text-decoration: none;
    color :black;
    
}
a:hover {
    color : red; 
    background-color: rgb(255, 184, 97)
}
/*Class elements*/

.titre {
    display : flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    padding: 4%;
    font-weight:bolder;
    font-size: 300%;
}

.titre_photo{
    float: left;
    margin-right: 3%;
    clip-path: circle(40%);
}

.titre_texte {
    float: right;
}

.bar_nav_rapide{
    display : flex;
    justify-content: center;
    align-items: center;
    font-size: 150%;
    background-color: bisque;
    
}

.barnav_elem {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
    background-color: rgb(255, 199, 131);
}
.barnav_elem_left_bordered {
    border-radius: 25px 0px 0px 25px;
}
.barnav_elem_right_bordered {
    border-radius: 0px 25px 25px 0px;
}
.barnav_sticky {
    background-color: inherit;
    display: flex;
    font-size: 150%;
    z-index: 99;
}

.sticky + #content {
    padding-top: 60px;
  }

.sticky {
    position: fixed;
    top: 0;
    width: 98.65%;
}

.text_about_myself {
    text-align: center;
    font-size: large;
    background-color: white;
    font-family: "Calibri";
    padding: 10%;

}

.text_about_my_skills {
    text-align: center;
    font-size: large;
    background-color: bisque;
    font-family: "Calibri";
    padding-top: 10%;
    padding-bottom: 10%;
}

#mon_parcours {
    background-color: white;
    font-family: "Calibri";
}
.my_route_title{
    text-align: center;
    font-size: 2%;
    font-weight:bolder;
    text-decoration: underline;
    padding-top: 2%;
    font-size: 200%;
}

/* parti présentation de mes projet */

#mes_projets {
    background-color: bisque;
    font-family: "Calibri";
}

.project_title {
    text-align: center;
    font-size: 2%;
    font-weight:bolder;
    text-decoration: underline;
    padding-top: 2%;
    font-size: 200%;
}

.project_name {
    text-align: center;
    font-size: 2%;
    font-weight:bolder;
    text-decoration: underline;
    padding-top: 4%;
    font-size: 150%;
}

.text_for_the_presentation_of_my_project {
    padding-top: 5%;
    
}


/* fin de la parti présentation de mes projet */


.contact_me {
    text-align: center;
    font-size: large;
    background-color: white;
    font-family: "Calibri";
    padding-top: 10%;
    padding-bottom: 10%;
    
}

/* Css pour le block de presantation de mon parcours profésionnel de ma formation */
.tab_parcours {
    padding: 2% 2% 5% 2%;
    text-align: center;
    width: 70%;
    height: fit-content;
}
.style_tab_tete{
    background-color:rgb(255, 199, 131);
    border-style: outset; 
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
    width: 30%;
    font-size: 150%;

}

.style_tab {
    margin-top: 4%;
    margin-bottom: 4%;
    min-width: 30%;
}

.style_tab:hover {
    background-color: rgb(255, 171, 69);
    border-style: inset; 
}

/* fin du Css pour le block de presentation de mon parcours professionnel de ma formation */



/*Pourquoi ce block en dessous ? Une future tentative ?    Oui, elle permet de rende la bar de navigation fixe en haut d'écran mais il faut que je regarde plus en profondeur car le permier test ne ma pas plus*/
/*Ok, d'accord*/
/*  
    position: fixed;
    top: 0;
    width: 100%;

    bar de nav fix en haut de page
*/



/* les bulle information de mon parcour profésionnel et de ma formation */
 /* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
    background-color:rgb(255, 199, 131);
    border-style: outset; 
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 4%;
    padding-right: 4%;
    border-radius: 50%;
    width: 90%
}
    
    /* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 100%;
    background-color: lightgrey;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 1px 0;
    position: absolute;
    z-index: 1;
    top: 120%;
    left: 50%;
    margin-left: -50%;
}
    
    /* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}
    
    /* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
} 

/* fin des les bulle information de mon parcour professionnel et de ma formation */